<nav class="navbar">
    <h1 class="logo">MJ</h1>
    <ul class="mainNav">
        <li class="list-items"><a class='<%= path === '/' ? 'active' : '' %>' href="/">Shop</a></li>
        <li class="list-items"><a class='<%= path === '/product-list' ? 'active' : '' %>' href="/product-list">Product Lists</a></li>
        <li class="list-items"><a class='<%= path === '/carts' ? 'active' : '' %>' href="/carts">Cart</a></li>
        <li class="list-items"><a class='<%= path === '/orders' ? 'active' : '' %>' href="/order-items">Orders</a></li>
        <li class="list-items"><a class='<%= path === '/add-product' ? 'active' : '' %>' href="/admin/add-product">Add Product</a></li>
        <li class="list-items"><a class='<%= path === '/products' ? 'active' : '' %>' href="/admin/products">Products</a></li>
    </ul>
</nav>